* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, a {
    color: #702BC2;
    background: #F4F7FA;
}

body, input, button, textarea, span {
    font: 500 18px 'Ubuntu', sans-serif;
};